<div class="main_container">
    <div class="container">
        <div class="title_cont">
            <p class="title_txt">FORMACIÓN Y EXPERIENCIA</p>
        </div>
        <div class="training_experience_cont">
            <div class="training_container">
                <div class="training_title_cont">
                    <p class="training_title_txt">Programación y Diseño Web Front-End</p>
                    <p class="training_title_txt">2021-2022</p>
                </div>
                <div class="training_descript_cont">
                    <p class="training_descript_txt">392 horas. Escuela de Organización Industrial.</p>
                </div>
            </div>
            <div class="experience_container">
                <div class="nttdata_experience">
                    <div class="nttdata_title_cont">
                        <p class="nttdata_title_txt">NTT DATA</p>
                        <p class="nttdata_title_txt">Febrero 2022 - Marzo 2024</p>
                    </div>
                    <div class="nttdata_projects">
                        <div class="infored">
                            <div class="infored_title">
                                <p class="infored_title_txt">Red Eléctrica de España - InfoRed</p>
                            </div>
                            <div class="infored_descript">
                                <p>2022: Marzo - Noviembre</p>
                            </div>
                        </div>
                        <div class="orientexpress">
                            <div class="orientexpress_title">
                                <p class="orientexpress_title_txt">Orange - Orient Express 2 - Asesoramiento</p>
                            </div>
                            <div class="orientexpress_descript">
                                <p>2022 - 2023: Diciembre - Abril</p>
                            </div>
                        </div>
                        <div class="segurcaixa">
                            <div class="segurcaixa_title">
                                <p class="segurcaixa_title_txt">SegurCaixa Adeslas</p>
                            </div>
                            <div class="segurcaixa_descript">
                                <p>2023 - 2024: Abril - Marzo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="redirect_container">
            <div class="back_container" (click)="backToHome()">
                <img class="back_arrow" src="../../../../../assets/img/left-arrow.svg">
                <p class="back_txt">Volver</p>
            </div>
            <div class="redirect_options">
                <div class="redirect_about_me" (click)="redirectToAboutMe()">
                    <img class="about_me_arrow" src="../../../../../assets/img/left-arrow.svg">
                    <p class="about_me_txt">Ir a Sobre Mí</p>
                </div>
                <div class="redirect_skills" (click)="redirectToSkills()">
                    <p class="skills_txt">Ir a Herramientas</p>
                    <img class="skills_arrow" src="../../../../../assets/img/right-arrow.svg">
                </div>
            </div>
        </div>
    </div>
</div>
