<div class="container">
    <div class="background_container">
        <!-- <img class="background_img" src="../../../assets/img/watercolor03.jpg"> -->
        <div class="profile_container">
    
        </div>
        <div class="options_container">
            <div class="first_options_cont">
                <div class="about_me_cont">
                    <p class="about_me_txt">SOBRE MÍ</p>
                    <button class="about_me_btn" (click)="goToAboutMe()">Saber más</button>
                </div>
                <div class="experience_cont">
                    <p class="experience_txt">FORMACIÓN Y EXPERIENCIA</p>
                    <button class="experience_btn" (click)="goToExperience()" >Saber más</button>
                </div>
            </div>
            <div class="second_options_cont">
                <div class="skills_cont">
                    <p class="skills_txt">HERRAMIENTAS</p>
                    <button class="skills_btn" (click)="goToSkills()">Saber más</button>
                </div>
                <div class="contact_cont">
                    <p class="contact_txt">CONTACTO</p>
                    <button class="contact_btn" (click)="goToContact()">Saber más</button>
                </div>
            </div>
        </div>
    </div>
</div>
